# Final code
Natours/after-S05/
Natours/final-after-S06/
Nexter/final/
Trillo/final/

# dependencies
Natours/starter/node_modules/
Trillo/starter/node_modules/
Nexter/starter/node_modules/

# Guide material
slides-students-C04.pdf